/*body{
	font-size: 12px !important;
}*/
span.add-job{
	margin-bottom: 10px;
}
span.add-job a{
	color: white;
}
.chosen-container{
	width: 100% !important;
	display: inherit;
}
.chosen-container-multi .chosen-choices{
	/*height: 34px;*/
	border: 1px solid #d2d6de;
	background-image: none;
	/*padding: 6px 12px;*/
	padding-left: 12px;
	/*font-size: 14px;*/
	line-height: 1.42857143;
}
span.category-tags{
	margin: 3px;
	float: left;
}