<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DJP Admin cPanel | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <?php echo $this->Html->css('bootstrap.min.css');?>
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <?php echo $this->Html->css('AdminLTE.min.css');?>
    <!-- iCheck -->
    <link href="<?php echo $this->webroot;?>plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href=""><b>DJP</b>Admin cPanel</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <?php echo $this->fetch('content');?>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <?php echo $this->Html->script('plugins/jQuery/jQuery-2.1.4.min.js');?>
    <!-- Bootstrap 3.3.2 JS -->
    <?php echo $this->Html->script('bootstrap.min.js');?>
    <!-- iCheck -->
    <script src="<?php echo $this->webroot;?>plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>