<p class="login-box-msg">Sign in to start your session</p>
<form action="/users/login" id="UserLoginForm" method="post" accept-charset="utf-8">
  <div class="form-group has-feedback">
    <input name="data[User][username]" type="text" class="form-control" placeholder="Username"/>
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input name="data[User][password]" type="password" class="form-control" placeholder="Password"/>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox icheck">
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div>
    </div><!-- /.col -->
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
    </div><!-- /.col -->
  </div>
</form>