<!-- Default box -->
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Welcome</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
			<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<div class="box-body">
		Welcome.
	</div><!-- /.box-body -->
	<div class="box-footer">
	Copyright &copy; 2016 by VietHR Inc.
	</div><!-- /.box-footer-->
</div><!-- /.box -->